In [1]:
import pandas as pd

In [2]:
games = pd.read_csv('../App/server/shotlog.csv')
games.head()

,GAME_ID,PERSON_ID,TEAM_ID,SHOT_ORDER,SV_GAME_ID,SV_PLAYER_ID,SV_TEAM_ID,SHOT_RESULT,PERIOD,GAME_CLOCK,...,DRIBBLES,SHOT_DIST,TOUCH_TIME,CLOSE_DEF_PERSON_ID,CLOSE_DEF_SV_PLAYER_ID,CLOSE_DEF_DIST,PTS_TYPE,FGM,FGA,PTS
0,21600014,202693,1610612764,1,2016102701,4894,27,missed,1,7050,...,0,12.46,3.65,2730,3818,9.62,2,0,1,0
1,21600014,202693,1610612764,2,2016102701,4894,27,missed,1,6910,...,0,3.48,0.04,2730,3818,2.25,2,0,1,0
2,21600014,202693,1610612764,3,2016102701,4894,27,made,1,6050,...,1,9.57,1.93,200794,4175,2.66,2,1,1,2
3,21600014,202693,1610612764,4,2016102701,4894,27,made,1,5480,...,0,12.48,0.72,200794,4175,5.40,2,1,1,2
4,21600014,202693,1610612764,5,2016102701,4894,27,made,1,5150,...,2,19.45,2.24,200794,4175,3.83,2,1,1,2

In [10]:
current = games[games['SV_GAME_ID'] == 2016102505]
current.sort_values(['GAME_CLOCK'], ascending=[True])
current.to_csv('game.csv')